html{
    height: 800px;
}
body{
    background-color: white;
}
#iBar {
    border: 2px solid grey;
    border-radius: 7px;
} 
.textBar{
    background-color:lightslategray;
    color: white;
    width: 12%;
    overflow: hidden;
    font-size: 22px;
    align-content: center;
    border-radius: 7px;
}
.offers {
    color: white;
    position: relative;
    left: 50px;
    top: 80px; 
}
.images{
    position: absolute;
    top: 0;
    left: 0px;
    height: 50px;
    width:100%;
    overflow: scroll;
    z-index: 100;
    opacity: 1;
}
.history{
    font-size: 15px;
}
#history{
    overflow: scroll;
    text-align: center;
    padding-top: 20px;
}
ul {
    list-style-type: none;
    position: relative;
    left: -15px;
    top: -5px;
}
li{
    font-size: 18px;
    text-align: left;
}  
a {
    color: white;
}
#map {
    height: 100%;
    width: 100%;
    grid-column: 8 / 12;  
    grid-row: 1 / 5;
    border-radius: 7px;
}
.offers{
    overflow: scroll;
}
canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(11, 9%);
    grid-template-rows: repeat(6, 117px);
    justify-content: center;
    align-content: end;
    padding: 20px;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 7px;
    padding: 20px;
    font-size: 150%;
}
.item1 {
    position: relative;
    grid-column: 1 / 8;
    grid-row: 1 / 6;
    opacity: .75;
    overflow: scroll;
}
.item1a{
    grid-column: 1 / 8;
    grid-row: 1 / 6;
    z-index: -1;
    background-image: url( ../images/IMG_5571.JPG);
    background-size: 100%;
    opacity: 1;
    border-radius: 5px;
}
.item2 {
    position: relative;
    grid-row: 6 / 7;
    grid-column: 1 / 9;
}

.item3 {
    grid-column: 8 / 9;
}
.item4 {
    position: relative;
    grid-column: 8 / 12;  
    grid-row: 1 / 5;
    padding: 0;
    overflow: scroll;
    align-content: center;
    background-color:lightslategray;
    font-size: 15px;
}
.item5 {
    position: relative;
    grid-column: 9 / 12;  
    grid-row: 5 / 7;
    padding: 0;
} 
.startText{
    position: relative;
    left: 40px;
    top: 30px;
    color: white;
    opacity: 1;
    width: 80%;
}
.input-group{
    position: absolute;
    top: 69px;
}
#btn{
    background-image: url(../images/64x64.png);
    width: 67px;
    height:64px;
    border-radius: 7px;
    position: relative;
    left: 30%;
    bottom: 10%;
    opacity: .75;
}