.bar{
    position: relative;
    top: 85px;
    margin: 30px;
    width: 90%;
}
body{
    background-color: gray;
    }
.textBar{
    background-color:#9ab;
    color: white;
    width: 12%;
    overflow: hidden;
}
.offers {
    color: white;
    position: relative;
    left: 50px;
    top: 80px; 
}
.images{
    position: relative;
    left: 50px;  
}
.history{
    font-size: 12px;
}
#history{
    overflow: scroll;
    text-align: center;
}
ul {
    list-style-type: none;
    position: relative;
    left: -15px;
    top: -5px;
  }
li{
    font-size: 18px;
    text-align: left;
}  
a {
    color: white;
}
#map {
    height: 100%;
    width: 100%;
    grid-column: 8 / 12;  
    grid-row: 1 / 5;
  }
.offers{
    overflow: scroll;
}
canvas.drawing, canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 40px;
  }
  
  .wrapper {
    
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(11, 9%);
    grid-template-rows: repeat(11, 100px);
    justify-content: center;
    align-content: end;
    padding: 20px;
  }
  
  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
  
  .item1 {
    grid-column: 1 / 8;
    grid-row: 1 / 6;
  }
  
  .item2 {
    grid-row: 6 / 7;
    grid-column: 1 / 9;
  }
  
  .item3 {
    grid-column: 8 / 9;
  }
  .item4 {
    grid-column: 8 / 12;  
    grid-row: 1 / 5;
    padding: 0;
  }
  .item5 {
    grid-column: 9 / 12;  
    grid-row: 5 / 7;
    overflow: scroll;
    align-content: center;
    background-color:lightslategray
  }
 #iBar {
     width: 80%;
  }
  .textBar{
      font-size: 22px;
  }